@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600;700;900&family=Oswald:wght@400;700&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3f3e3f;
  color: #ccc;
}

a{
  text-decoration: none;
  transition: .3s;
  color: rgb(236, 236, 236);
}

ul li{
  list-style: none;
}

header h1{
  margin: 0;
}

.container{
  padding: 100px 50px;
}

.btn{
  text-transform: uppercase;
  background: #33A1FD;
  color: #252525;
  font-weight: bold;
  width: 100%;
  display: inline-block;
  padding: .8em;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8em;
  cursor: pointer;
}

.btn:hover{
  color: #151515;
  opacity: .7;
  transform: translateY(-5px);
}

h2{
  font-family: 'Inter';
  font-size: 2.5em;
  margin-top: 2.5em;
}