body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3f3e3f;
  color: #ccc;
}

a{
  text-decoration: none;
  transition: .3s;
  color: rgb(236, 236, 236);
}

ul li{
  list-style: none;
}