.contato {
  max-width: 600px;
  margin: 0 auto;
}

.contato h2 {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 30px;
}

.contato h2::after {
  content: '';
  display: block;
  width: 30%;
  height: 2px;
  background: #007bff;
  margin: 0.3em auto;
  margin-bottom: 1em;
}

.contato-form {
  display: grid;
  gap: 20px;
}

.form-group {
  display: grid;
}

.contato label {
  font-weight: bold;
}

.contato input,
.contato textarea {
  /* width: 100%;
    padding: 8px; */
  font-size: 16px;
  border: 1px solid #2d2d2d;
  border-radius: 4px;
  /* height: 12px; */
  margin-top: .5em;
}

.contato textarea {
  height: 100px;
  resize: none;
}

.contato .btn-enviar {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  /* color: #fff; */
  /* background-color: #007bff; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Inter';
}

.contato .btn-enviar:hover {
  background-color: #0056b3;
}